extends layout 

block content 
		+formCard 
			header.text-xl.font-aleg.font-bold.text-light About  
			article.font-alegsans.font-normal.text-light
				p.my-2 
				
				p.my-2 
				
				p.my-2 
				 
				p.my-2 