extends layout 

block content 
	+cardContainer
		+formCard 
			header.text-xl.font-fraktur.text-light About  
			article.font-serif.text-light
				p.my-2 
				|Paroni Kraftworks is a community and resource for hobbyists 
				|who are interested in painting miniatures and building 
				|scenery for RPGs and wargames. 
				p.my-2 
				|The design idea is for this site is to be as straightforward and easy to
				|use as possible. 
				|Visual clutter is kept to the minimum and space in each site view is used
				|carefully. 
				p.my-2 
				|This site grew out of my interest in web development.
				|Much of the modeling community either relies on antiquated internet forum  
				|software or is stuck using large social media platforms such as Youtube
				|or Facebook. 
				p.my-2 
				|The latter have their uses, but I think it is useful for the community
				|if there are up-to-date community sites that are owned and maintained 
				|by independent hobbyists. 