extends layout 

block content 
    div(class='w-3/4').flex.flex-col.items-center.justify-center.bg-main.h-full
        div(class='w-3/4').bg-dark.p-4.flex.flex-col.items-center.divide-y-2.space-y-2.divide-brown 
            div.flex.flex-col.h-8.items-center.text-xl.font-fraktur.text-light
                header Create a Post  
            form(action="" method="POST" class='focus:outline-none focus:ring focus:ring-brown' ).flex.flex-col.space-y-2.mt-2.font-serif.w-full.text-sm.text-light
                div  
                    label(for="board") Select Board:
                    select(name="board" id="board" required ).shadow.w-full.bg-light.text-dark.p-1
                        for board in boards 
                            option(value=board.board_name).text-dark=board.board_name
                div 
                    label(for="title") Title:
                    input(type="text" id="title" required class='focus:outline-none focus:ring focus:ring-brown').shadow.w-full.bg-light.text-dark
                div 
                    label(for="image") Image URL:
                    input(type="url" id="image" class='focus:outline-none focus:ring focus:ring-brown').shadow.w-full.bg-light.text-dark
                div 
                    label(for="text") Text:  
                    textarea.bg-light.text-dark.shadow.w-full(id="text" name="text" cols="30" rows="10" placeholder="Type here." class='focus:outline-none focus:ring focus:ring-brown') 
                input(type="submit" value="Submit").self-end.p-2.shadow.border-2.border-main.border-opacity-50.text-lg.font-fraktur.bg-light.text-dark(class="hover:bg-gray")