extends layout 

block content 
    main.flex.flex-col.flex-auto.items-center.bg-gray-900.h-screen
        button.go_back.fixed Go back
        .bg-gray-500 //post
            header Edit Post:  
            form(action="" method="PUT").flex.flex-col.space-between-y-2 
                // place old title as default value for input
                div 
                    label(for="title") Post Title:
                    input(type="text" id="title" required) // Title
                div 
                    label(for="image") Image URL:
                    input(type="url" id="image") // Image
                // place old text as default value
                div 
                    label(for="post_text") Post Text:  
                    textarea(id="post_text" name="post_text" cols="30" rows="10" placeholder="Type here.") 
                div 
                    button.go_back1 Cancel
                    input(type="submit" value="Submit")