extends layout 

block content 
	+formCard 
		header.h-8.text-xl.font-aleg.font-bold Email sent
		section We have sent an email to the address you provided. Please check your email and possibly your spam folder.