extends layout 

block content 
	article.bg-dark.p-4.flex.flex-col.items-center.space-y-2.text-light 
		header.h-8.text-xl.font-sans Email sent
		section.font-serif We have sent an email to the address you provided. Please check your email and possibly your spam folder.