extends layout 

block content 
		+formCard
			header.font-aleg.font-bold.text-xl Error
			if message 
				article(class="self-center text-red-800 font-alegsans font-normal pt-3 pb-4")= message
			if errors
				for field, key in errors
					article(class="self-center text-red-800 font-alegsans font-normal pt-3 pb-4")=key + ": " + field.msg 