extends layout 

block content 
		article.bg-dark.p-4.flex.flex-col.text-light.items-center.divide-y.space-y-1.divide-brown
			header.text-light.font-fraktur.text-lg Error
			section.flex.flex-col.items-center.font-serif.pt-2.space-y-3
				if message 
					article= message 
				a(
					href= "/board"
					class='bg-light p-1 border-2 border-main text-dark hover:bg-gray font-fraktur'
				) To the board.