extends layout 

block content 
	article.bg-dark.text-light.p-4.flex.flex-col.items-center.divide-y.space-y-2.divide-brown.border-2.border-brown 
		header.text-xl.font-fraktur Forgot your password? 
  	span.text-serif Enter your email below. We will send you a password reset link with instructions to that address. 
		form(action="" method="POST").flex.flex-col.space-y-2.mt-2.font-serif.w-full.text-sm
			.pt-2
				label(for="email") Email
				input(
					type="email" 
					id="email" 
					name="email" 
					required 
					class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark")
			+bigButton("submit", "Send a Link")
			