doctype html 

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script
  body
    div.flex.min-h-screen.items-stretch
        aside.flex.flex-col.items-center.flex-none.w-28.bg-dark
          include sidebar.pug
        main.flex.flex-col.items-center.flex-auto.bg-main
          block content
  footer 
    block footer-content