include mixins.pug

doctype html 

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href="/stylesheets/fontawesome.min.css")
    link(rel='stylesheet', href="/stylesheets/solid.min.css")
    script( defer src='/javascripts/client.js')
  body(class="flex flex-col min-h-screen bg-gradient-to-r from-main to-gray")
    header(class="left-0 top-0 right-0 sticky flex justify-between items-center bg-dark text-light font-fraktur")
      .flex.items-center.py-2.px-3.space-x-2.justify-between
        button(data-toggle-smp-hide-id="navbar" class='md:hidden')
          span(data-toggle-smp-hide-id="navbar" class="fas fa-bars fa-lg")
        div(class='p-x-1') KraftWorld 
      div
        if user
          a(href="/user/" + user.id class="flex-none mr-3")= "User: " + user.nickname
        else 
          div.mr-3 User: Guest  
    div(class="flex flex-col md:flex-row md:flex-1")
        aside#navbar(class="smp:hidden w-32 fixed inset-y-0 left-0 md:static flex-none flex flex-col items-center bg-dark border-r-2 border-brown")
          include navbar.pug
          div#nav-overlay(class='fixed hidden inset-0 bg-neutral-900 backdrop-blur-sm opacity-0 transition-opacity')
        main#main(class="md:flex-1" data-hide-id="navbar")
          block content
        aside(class="hidden md:w-32 md:flex-none md:flex md:flex-col items-center bg-dark border-l-2 border-brown")
          include sidebar.pug
    footer 
      block footer-content