doctype html 

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script
      let FF_FOUC_FIX;
  body
    div.flex.flex-row.w-full
        include sidebar.pug
        block content
  footer 
    block footer-content