include mixins.pug

doctype html 

html.scroll-pt-12
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/styles.css')
		link(rel='stylesheet', href="/stylesheets/fontawesome.min.css")
		link(rel='stylesheet', href="/stylesheets/solid.min.css")
		script(defer src='/javascripts/client.js')
		block pageScript 
	body(class="flex flex-col min-h-screen bg-gradient-to-r from-main to-gray")
		header#headerMenu(class="h-8 left-0 top-0 right-0 sticky flex justify-between items-center bg-dark text-light font-fraktur")
			.flex.items-center.py-2.px-3.space-x-2.justify-between
				button(data-toggle-hide-id="navbar" class='md:hidden')
					span(data-toggle-hide-id="navbar" class="fas fa-bars fa-lg")
				div KraftWorld 
			div.flex.space-x-3.items-center
				if user
					form(action="/user/logout" class="flex-none") 
						button Log Out
				else 
					a(href="/user/login" class="flex-none") Log In
				if user
					a(href="/user/" + user.id class="flex-none mr-3 p-1 rounded-full bg-light text-dark")= "User: " + user.username
				else 
					div(class="flex-none mr-3 p-1 rounded-full bg-light text-dark") User: Guest  
		div(class="flex flex-col md:flex-row md:flex-1")
				aside#navbar(class="hidden pl-3 w-32 fixed z-10 md:z-auto md:block md:static inset-y-0 left-0 flex-none bg-dark border-r border-brown")
					include navbar.pug
					
				main#main(class="md:flex-1" data-hide-id="navbar")
					block content
				aside(class="hidden md:w-32 md:flex-none md:flex md:flex-col items-center bg-dark border-l border-brown")
					include sidebar.pug
		div#navOverlay(class='fixed hidden md:hidden inset-0 bg-neutral-900 backdrop-blur-sm opacity-0 transition-opacity duration-300')
		footer 
			block footer-content