include mixins.pug

doctype html 

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script( defer src='/javascripts/client.js')
  body(class="flex flex-col min-h-screen bg-main")
    header(class="left-0 top-0 right-0 sticky flex justify-between items-center bg-dark text-light font-fraktur")
      .flex
        button(data-toggle-smp-hide-id="navbar" class="bg-light text-dark hover:bg-gray border-2 border-main p-2") Menu
        div(class='p-2') Paroni KraftWorld 
      div 
    div(class="flex flex-col md:flex-row md:flex-1")
        aside#navbar(class="smp:hidden w-32 fixed inset-y-0 left-0 md:static flex-none flex flex-col items-center bg-dark border-r-2 border-brown")
          include navbar.pug
        main#main(class="md:flex-1 bg-gradient-to-r from-main to-gray" data-hide-id="navbar")
          block content
        aside(class="hidden md:w-32 md:flex-none md:flex md:flex-col items-center bg-dark border-l-2 border-brown")
          include sidebar.pug
    footer 
      block footer-content