extends layout 

block content 
    div.flex.flex-col.items-center.justify-center.bg-gray-900.h-full
        .bg-gray-500.p-4.flex.flex-col.items-center.w-96.divide-y-2.space-y-2.divide-gray-700 
            div.flex.flex-col.h-8.items-center.text-xl.font-fraktur
                header Login failed  
            a(href= "/login") Try again.