mixin centerContainer 
    .flex.flex-col.items-center.justify-center.h-full
        block

mixin cardContainer 
    div(class=' flex flex-col items-center space-y-1 p-y-1 md:p-3 items-stretch')
        block

mixin bigCard(width) 
    article(class=width).bg-dark.p-4.flex.flex-col.items-center.divide-y.space-y-2.divide-brown.border-2.border-brown
        block 

