nav(class="p-2 fixed flex flex-col items-center text-light font-fraktur space-y-2 divide-y divide-brown")
    if user
        a(href="/user/" + user.id class="flex-none")= "Hello, " + user.nickname
        form(action="/logout" class="flex-none") 
            button Log Out
    else 
        a(href="/login" class="flex-none") Log In 
    a(href= "/board/createpost" class="flex-none") Create a Post
    ul(class="flex flex-col items-center flex-none") Boards:
        li(class="text-light pl-2 md:pl-0") 
            a(href="/board/all/new/0" class="flex-none") All
        for board in boards
            li(class="flex-none")
                a(href="/board/" + board.board_name + "/new/0" class="flex-none")= board.board_name 
    a(href="/about" class='flex-none') About
    