extends layout 

block content 
	+formCard 
		header.h-8.text-xl.font-aleg.font-bold Please activate your user account
		section We have sent a verification link to the email address you provided. Click on the link to activate your account. Then you can start using your account.   
		a(
					href= "/user/login"
					class='bg-light p-1 border-2 border-main text-dark hover:bg-gray font-aleg font-bold text-lg'
				) Log In	