extends layout 

block content 
    +cardContainer
        .bg-dark.p-4.flex.flex-col.items-center.divide-y-2.space-y-2.divide-brown 
            div.flex.flex-col.h-8.items-center.text-xl.font-fraktur.text-light
                header Registration was successful.  
            a(href= "/board") To the board.