extends layout 

block content 
	article.bg-dark.p-4.flex.flex-col.items-center.space-y-2.text-light 
		header.h-8.text-xl.font-sans Please activate your user account
		section.font-serif We have sent a verification link to the email address you provided. Click on the link to activate your account. Then you can start using your account.   
		a(
					href= "/user/login"
					class='bg-light p-1 border-2 border-main text-dark hover:bg-gray font-fraktur'
				) Log In 
		