extends layout 

block content 
	+formCard  
		header.h-8.text-xl.font-aleg.font-bold Password Reset Successful
		section Your password has been changed successfully. You can now log in with your new password.    