extends layout 

block content 
	article.bg-dark.p-4.flex.flex-col.items-center.space-y-2.text-light 
		header.h-8.text-xl.font-sans Password Reset Successful
		section.font-serif Your password has been changed successfully. You can now log in with your new password.    
		 