extends layout 

block content 
    div.flex.flex-col.items-center.justify-center.bg-main
        .bg-dark.p-4.flex.flex-col.items-center.divide-y-2.space-y-2.divide-brown 
            div.flex.flex-col.h-8.items-center.text-xl.font-fraktur.text-light
                header You shall not pass! You are not authorized.  
            a(href= "/board") Go back to the board.
                    