extends layout 

block content 
    div.flex.flex-col.items-center.justify-center.bg-dark.h-full
        .bg-brown.p-4.flex.flex-col.items-center.w-96.divide-y-2.space-y-2.divide-main 
            div.flex.flex-col.h-8.items-center.text-xl.font-fraktur
                header You shall not pass! You are not authorized.  
            a(href= "/board") Go back to the board.
                    