extends layout 

block content 
	article.bg-dark.p-4.flex.flex-col.items-center.space-y-2.text-light 
		header.h-8.text-xl.font-sans Username Change Successful
		section.font-serif Your username has been changed successfully.    