extends layout 

block content 
	article.bg-dark.p-4.flex.flex-col.items-center.space-y-2.text-light 
		if user   
			header.h-8.text-xl.font-aleg.font-bold= user.username + ", please activate your user account"
			section 
				p.mb-2 In order to use your account, you need to verify your email address. Please check your inbox and spam folder. 
				p If you cannot find the verification email and have waited a while already, please click on the button below to send a verification link to the email you provided during registration.
			form(action="/user/email/verify" method="post" )
				input(type="hidden" name="_csrf" value=csrfToken)
				+bigButton("submit", "Send an email")
		else 
			header.h-8.text-xl.font-aleg.font-bold Please log in
			section Before we can send your email verification link, you need to log in.