extends layout 

block content 
	+formCard 
		header.h-8.text-xl.font-aleg.font-bold="Welcome, " + username 
		section You have successfully verified your email address. Your account is now fully activated.   
		if !user
			a(
						href= "/user/login"
						class='bg-light p-1 border-2 border-main text-dark hover:bg-gray font-aleg font-bold text-lg'
					) Log In